<div class="side-right" >
	<h3>Lainnya/</h3>
		<a href="/tech">Baca blog tech/</a><br>
			<span>Baca blog seputar Teknologi</span><br>
		<a href="https://selembarkertas.club" target="_blank">Podcast/</a><br>
			<span>Dengarkan podcast dikala anda santuy</span><br>
		<a href="/buku">Buku/</a><br>
			<span>Rekomendasi buku</span><br>
		<a href="/project">Project/</a><br>
		<span>Kumpulan eksperimen kecil</span><br>
		<a href="https://drive.google.com/drive/folders/1Lmun158fPoT6P98wb52Hb1sCwADmpSnI?usp=sharing">Kuliah 🔐</a>
		<hr>
	<h3>Bahaya covid-19</h3>
		<p>Kabar baiknya kamu bisa berkarya dirumah</p>
</div>
